/* site.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.top-left-buttons {
  position: absolute;
  top: 20px;
  left: 20px;
}

.top-right-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  max-height: 100vh;
  overflow-y: auto;
}

h1, h2 {
  color: #fff;
}

form {
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #222;
  color: #fff;
  width: 300px;
  box-sizing: border-box;
}

button, .button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #444;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
}

button:hover, .button:hover {
  background-color: #555;
}

#result {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #fff;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #444;
}

tr:nth-child(even) {
  background-color: #333;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.calc-button {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #444;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}

.calc-button:hover {
  background-color: #555;
}

.history-table-container {
  max-height: 80vh;
  overflow-y: auto;
  width: 100%;
}
